[Unit]
Description=Informix service
After=network.target

[Service]
Type=oneshot
User=informix
Group=informix
EnvironmentFile=/etc/sysconfig/informix
RemainAfterExit=yes
ExecStart=/opt/IBM/Informix_Software_Bundle/bin/oninit -vy
ExecStop=/opt/IBM/Informix_Software_Bundle/bin/onmode -vky

[Install]
WantedBy=multi-user.target

